*.log
*.pot
*.pyc
__pycache__/
migrations/
archivos_stl/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
dist/
*.png
*.jpg
*.jpeg
*.svg
notas_dev.txt
*.sqlite3
*.swp
*.mp3
*.webm
calhost
impresionesfront/static
static